body {
    background-color: #1d2a40;
    font-family: sans-serif;
}

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 550;
    padding: 0 200px;
    align-content: center;
}

.header-links {
    color: rgb(188, 186, 186);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 26px;
}

.title-container {
    display: flex;
    padding: 60px 80px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.subtitle {
    font-size: 8px;
}

img {
    width: 200px;
}