body {
    background-color: #1d2a40;
    font-family: sans-serif;
}

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 550;
    padding: 0 200px;
    align-content: center;
}

.header-links {
    color: rgb(188, 186, 186);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 26px;
}

.title-container {
    display: flex;
    padding: 120px 200px;
    color: white;
    gap: 66px
}

.title-image {
    width: 550px;
}

.title {
    font-weight: 700;
    font-size: 48px;
}

.subtitle {
    font-size: 18px;
    opacity: 0.8;
    padding: 6px 0;
}



button {
    background-color: rgb(78, 140, 253);
    color: white;
    font-size: 18px;
    width: 150px;
    height: 42px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 700;
}

.card-container {
    display: flex;
    gap: 30px;
    margin: 60px;
}

img {
    width: 170px;
    border: 4px solid;
    border-radius: 18px;
    border-color: rgb(78, 140, 253);
}

.card {
    width: 170px;
    text-align: center;
}

.card-text {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 500;
}